<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="stylesheet" href="/css/indexstyle.css" />
    <title>Simple Task App</title>
  </head>
<body>

<section class="wrapper">
      <div class="content">
        <header>
          <img src="img/logo.jpg" alt="Logo" width="300px" height="200px">
          <h1>Welcome </h1>
        </header>
    <section class="links-list">
        <div class="link-container">
          <a class="btn btn-primary" href="/add_tasks" role="button">New Tasks</a>
        </div>
        <div class="link-container">
          <a class="btn btn-primary" href="/list_tasks" role="button">Disply All Lists</a>
        </div>
      </div>
    </section>
    </div>
  </section>

<!-- include footer -->
<%- include('include/_footer')%>
<!-- /include footer -->